.App__buy{

    width: 1920px; 
    height: 748px;
    background: rgb(167,231,244);
    background: linear-gradient(90deg, rgb(236, 252, 255) 0%, rgb(216, 231, 255) 100%);;

}

.App__buy p{
    margin-top: 40px;
    margin-left: 500px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: inherit;

    
}

.img_auto{
    position: relative;
    top: -310px;
}

.border__green{
   position: relative;
   left: -550px;
}


@media  (max-width: 1200px){
    .App__buy{
        position: relative;
        top: 450px
    }
    .buyh1{
        position: relative;
        margin-left: -1000px;
    }
    .textBuy{
        position: relative;
        margin-left: -300px;
    }
    .border__green{
        position: relative;
        margin-left: -600px;
    }
    .but__buy{
        position: relative;
        margin-right: 950px;
    }
}
  

@media  (max-width: 1000px){
  
}

@media  (max-width: 768px){
  
}

@media  (max-width: 480px){
  
}