.App_feedback{
    width: 1940px;
    height: 521px;
    background: rgb(167,231,244);

    background: linear-gradient(90deg, rgb(236, 252, 255) 0%, rgb(216, 231, 255) 100%);;
}

.App_feedback p{
    font-weight: normal;
    text-align: left;
}

.feedback__mark{
    margin-left: 465px;
    font-size: 16px;
    margin-top: -20px;
}

@media  (max-width: 1200px){
    
    .feed{
        position: relative;
        right: 600px;
        margin-left: -950px;
        
    }
    .feedback__mark{
        position: relative;
        left: -350px;
        top: 20px;
        width: 110vh;
        height: 200px;
    }

    img{
        position: relative;
       
    }

     .img_nike{
       position: relative;
       top: 10px;
       width: 50px;
        transform: translateX(180px);
    } 
    
    .firsts{
        position: relative;
        margin-top: 50px;
        top: 20px;
    }

    .text__our{
        width: 1500px;
    } 

     .img_nike{
       position: relative;
       top: 10px;
        transform: translateX(180px);
    } 
}
  

@media  (max-width: 1000px){
  
}

@media  (max-width: 768px){
  
}

@media  (max-width: 480px){
  
}