.App__footer{
    width: 1920px;
    height: 289px;
    background-color: #1A646E;
    margin-top: -200px;
    height: 60vh

}




@media  (max-width: 1200px){
.App__footer{
    position: relative;
    left: -200px
}
}
  

@media  (max-width: 1000px){
  
}

@media  (max-width: 768px){
  
}

@media  (max-width: 480px){
  
}